*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url("i.jpeg");
	background-color: #cccccc;
	padding: 0 10px;

}
.wrapper{
	background: #fff;
	max-width: 450px;
	width: 100%;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0,.1),
		  0 32px 64px -48px rgba(0,0,0,0.5);
}

.form{
	padding: 25px 30px;
}

.form header{
	font: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.form form{
	margin: 20px 0;
}
.P{
	background-color: black;
	width: 2px;
	height: 0.2px;
}